body{
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  height: 100%;
}
html{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  min-height: 800px;
  height: 100%;
  min-width: 1200px;
  background-color: #efddc696;
}
.centered-container{
  margin-left: 4%;
  margin-right: 4%;
  align-content: center;
}
.centered-context{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}
.header-background{
  background-color: #eadd8cc7;
}

.bordered-component{
  border: 1px solid #c3c3c3;
}
.footer{
  height: 10%;
  display: inline-block;
  position: relative;
  max-width: 50%;
  min-width: 20%;
  padding: 10px 20px;
  background: rgba(202, 189, 102, 0.62);
  color: #9c3b3b;
  border-radius: 4px;
}
.footer-bottom{
  position: absolute;
  bottom: 0px;
}
.header{
  height: 7%;
}
