.live-active{
  color: red;
}
.retina-container{
  height: 100%;
  font-size: 17px;
  border: 2px solid #f5c71f;
}
.retina-stereo{
  padding-top: 0.5em;
  position: absolute;
  left: 90%;
  top:5%;
  content: " ";
  display: block;
  height: 10px;
  width: 10px;
  background: #484444c9;
  border-radius: 50%;
}

.retina-stereo-live{
  background: brown;
}

.retina-live{
  position: absolute;
  left: 5%;
  top: 5%;
  font-family: "Lato", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  color: #3e3901c4;
  box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
}

.live-active{
  color: white;
  line-height: 1.65em;
}
.retina-frequency{
  top: 1em;
  border: 3px solid #f5c71f;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  opacity: 0.6;
  background-color: black;
}

.retina-progress{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 90%;
  height: 2em;
  background-image: -moz-linear-gradient(left, rgba(255,255,255,1) 1px, transparent 1px), -moz-linear-gradient(left, rgba(255,255,255,.3) 1px, transparent 1px);
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,1) 1px, transparent 1px), -webkit-linear-gradient(left, rgba(255,255,255,.3) 1px, transparent 1px);
  background-image: linear-gradient(to right, rgba(255,255,255,1) 1px, transparent 1px), linear-gradient(to right, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size: 6% 70%, 2% 50%;
  background-position: 0 bottom;
  background-repeat: repeat-x;
  opacity: 0.6;
}
  .retina-channel-description{
    position: relative;
    top:2em;
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    max-height: 60%;
  }
