.main-virtualradio{
  display:grid;
  grid-template-columns:1fr 1fr;
}
.awesomeradioimage-container{
  margin-right: 1vh;
}
.radio-container{
  height: 500px;
  margin-top: 2em;
  margin-bottom: 2em;
  display: none;
}
.virtRadio{
  border: 3px solid #21150c;
  background-color: #3c2302;
  height: 100%;
  min-height: 400px;
  min-width: 1000px;
  max-height: 516px;
  max-width: 1200px;
  color: #ccd6d3;
}
.awesomeradio-title{
  font-size: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  height: auto;
  width: auto;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-family: "Courier New", Helvetica, Arial;
}
.awesomeradio-title::before{
  background-image: url(https://a-v2.sndcdn.com/assets/images/start-station-ea018c5a.svg);
  height: 40px;
  width: 40px;
  content: "";
  margin: auto 0;
  padding-right: 70px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 32px 24px;
}
.rotate-normal{
  animation: rotate 10s infinite linear;
}
.rotate-reverse{
  animation: rotate 10s infinite linear;
  animation-direction: reverse;
}

.radio-inner-case{
  height: 100%;
  border: 5px solid #84632b;
  padding: 1em;
}
.radio-front-case{
  height: 90%;
  margin-bottom: 10%;
  background-color: #805c0dab;
  border: 5px solid #bdae54c9;
  border-radius: 4%;
  margin: 0.4em;
  box-shadow: inset 0 0 30px 0px rgba(0,0,0,0.5), inset 0 5px 10px -5px rgba(0,0,0,0.7), 0 1px 0 0px rgba(255,255,255,.1);
}
.radio-panel{
  height: 90%;
  position: relative;
}
.oldRadioImg{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.radio-image-container{
  user-select: none;
  text-align: center;
  height: 700px;
  width: 1147px;
  position: relative;
}
.powSwitch{
  position: absolute;
  left: 421px;
  bottom: 74px;
  object-fit: contain;
  height: 40px;
  width: 40px;
  background-image: url('btn_final.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.frequency-pointer {
      position: relative;
      opacity: .3;
      width: 0.4em;
      height: 2.6em ;
      background: #981015;
      border-radius: 5px;
      box-shadow: inset 0 1px 0 0px rgba(255,255,255,.4), 1px 2px 3px 0 rgba(0,0,0,.5);
  }

.frequency-pointer:hover{
  opacity: .9;
}

.vol-span{
  height: 60px;
  width: 60px;
  object-fit: contain;
  position: absolute;
  left: 195px;
  bottom: 160px;
}
.tuner-span{
  height: 60px;
  width: 60px;
  object-fit: contain;
  position: absolute;
  right: 175px;
  bottom: 150px;
}
.volImg{
  user-select: none;
  width: 100%;
  height: 100%;
}
.tunerImg{
  user-select: none;
  width: 100%;
  height: 100%;
}
.tunerLeftBtn{
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0px;
}
.tunerRightBtn{
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0px;
}
.volLeftBtn{
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0px;
}
.volRightBtn{
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0px;
}

.powSwitch-clicked{
  background-image: linear-gradient(to right,#dec98ab3 0%,#efdba5e6 100%), url('btn_final.png');
  background-blend-mode: screen;
}
.virtRadio:before{
      opacity: .4;
      content: "Awesome Radio";
      display: inline;
      height: auto;
      width: 90%;
      padding-top: 5px;
      position: absolute;
      font-size: 18px;
      letter-spacing: -.03em;
      line-height: 1em;
      font-weight: bolder;
      font-style: italic;
      text-align: center;
      color: rgb(239, 213, 119);
      text-shadow: 0 1px 0 rgba(255,255,255,.3);
}
.channel-description-for-image-container{
  border-radius: 10px;
  display: flex;
  align-self: center;
  justify-self: center;
  width: 70%;
  max-height: 75%;
  grid-column: 0/1;
  border: 1px solid black;
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
